[submodule "3rd/lua-cmsgpack"]
	path = 3rd/lua-cmsgpack
	url = https://github.com/antirez/lua-cmsgpack.git
[submodule "3rd/openssl"]
	path = 3rd/openssl
	url = https://github.com/openssl/openssl.git
[submodule "skynet"]
	path = skynet
	url = https://github.com/cloudwu/skynet.git
[submodule "3rd/lua-aoi"]
	path = 3rd/lua-aoi
	url = https://github.com/weiwenchen2022/lua-aoi.git
